<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Banco de Dados</title>

    <style>

        body{
            font-family: Arial;
            background:#f5f5f5;
            padding:40px;
        }

        .pagina{

            background:white;
            padding:20px;
            margin-bottom:20px;
            border-radius:10px;
            box-shadow:0 0 10px rgba(0,0,0,.15);

        }

        img{

            width:300px;
            margin-top:15px;
            border-radius:10px;

        }

    </style>

</head>
<body>

<h1>Páginas do Jardim 🌻</h1>

{% for pagina in paginas %}

<br><br>

<a href="/editar/{{ pagina[0] }}">
    <button>✏️ Editar</button>
</a>

<a href="/excluir/{{ pagina[0] }}">
    <button>🗑️ Excluir</button>
</a>

<div class="pagina">

<h2>{{ pagina[1] }}</h2>

<p>{{ pagina[2] }}</p>

{% if pagina[3] != "" %}

<img src="{{ url_for('static', filename='img/uploads/' + pagina[3]) }}">

{% endif %}

</div>

{% endfor %}

</body>
</html>