<!DOCTYPE html>
<html lang="pt-BR">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width,initial-scale=1.0">

<title>Jardim da Maria</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/entrada.css') }}">

</head>

<body>

<div class="overlay"></div>

<div class="particles"></div>

<div class="conteudo">

<h1 id="titulo">

Jardim da Maria

</h1>

<p class="sub">

Um lugar feito para guardar nossas lembranças 🌻

</p>

<button id="entrar">

Entrar

</button>

</div>

<script src="{{ url_for('static', filename='js/entrada.js') }}"></script>

</body>

</html>