<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Menu</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/menu.css') }}">

</head>

<body>

    <div class="background"></div>

    <div class="overlay"></div>

    <div class="placa">

        <h1>Jardim da Maria</h1>

        <a href="/jardim" class="botao">
            🌻 Entrar no Jardim
        </a>

        <a href="/livro" class="botao">
            📖 Livro da Maria
        </a>

        <a href="/banco" class="botao">
            🗄️ Banco da Maria
        </a>

        <a href="/nova" class="botao">
            ➕ Nova Página
        </a>

        <a href="/momentos" class="botao">
            🖼️ Momentos
        </a>

        <a href="/cartinhas" class="botao">
            💌 Cartinhas
        </a>

        <a href="/configuracoes" class="botao">
            ⚙️ Configurações
        </a>

        <a href="/sobre" class="botao">
            ❤️ Sobre nós
        </a>

    </div>

    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>

</body>

</html>