<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Menu</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
</head>

<body>

    <video class="video" autoplay muted loop playsinline>
        <source src="{{ url_for('static', filename='video/menu.mp4') }}" type="video/mp4">
    </video>

    <a href="/jardim" class="btn-jardim"></a>

    <div class="fade"></div>

    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>

</body>

</html>